# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Secrets
.env
*.env

# Raw large dataset
data/raw/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Temporary backup files
data/processed_backup